.no-img-link {
    width: 120px;
    color: #D6D5C9;
    border: #A22C29 solid 3px;
    background-color: #A22C29;
    border-radius: 6px;
}

.no-image {
    border: #D6D5C9 solid 3px;
    border-radius: 8px;
    height: 310px;
    width: 223px;
}