body {
  background-color: #0A100D;
  color: #D6D5C9;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
